.content-container,
.header-container {
    display: flex;
}

.content-container {
    flex-direction: column;
}

.header-container {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.subheader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3#title {
    margin-top: 0.5em;
    margin-bottom: 0;
    color: white;
    -webkit-text-stroke: 0px white;
}

.widecard {
    height: fit-content;
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin-bottom: 1em;
}

.cornerL {
    border-radius: 6vw 0vw 6vw 0vw;
}

.cornerR {
    border-radius: 0vw 6vw 0vw 6vw;
}

.bg1 {
    background-color: var(--sunsetRed);
}
.bg2 {
    background-color: var(--sunsetMagenta);
}
.bg3 {
    background-color: var(--sunsetPurple);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .imageL,
    .imageR {
        width: 60%;
    }

    .overlay:before {
        background-color: var(--primaryColor);
        opacity: 0.5;
    }

    .widecard-contentL {
        margin-right: 45%;
    }

    .widecard-contentR {
        margin-left: 45%;
    }

    .desc {
        padding: 2em;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    }
}

/* Med devices (tablets, 991px - 768px) */
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .imageL,
    .imageR {
        width: 100%;
    }

    .overlay:before {
        background-color: var(--bkgLight);
        opacity: 0.8;
        backdrop-filter: blur(5px);
        /* Apply the blur effect */
    }

    .widecard-contentL {
        margin-left: 2.5%;
        margin-right: 25%;
    }

    .widecard-contentR {
        margin-left: 25%;
        margin-right: 2.5%;
    }

    .desc {
        padding: 2em;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    }
}

/* Small devices (phones, 767px and below) */
@media only screen and (max-width: 767px) {
    .imageL,
    .imageR {
        width: 100%;
    }

    .overlay:before {
        background-color: var(--bkgLight);
        opacity: 0.8;
        backdrop-filter: blur(5px);
        /* Apply the blur effect */
    }

    .widecard-contentL,
    .widecard-contentR {
        margin: 0;
        padding: 2em;
    }

    .desc {
        background-color: none;
    }
}


.imageL,
.imageR {
    position: absolute;
    height: 100%;
}

.overlay {
    position: relative;
}

.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.overlay:hover:before {
    opacity: 0;
}

.imageL {
    left: 0;
}

.imageR {
    right: 0;
}

.widecard-contentL,
.widecard-contentR {
    position: relative;
    flex-direction: column;
    z-index: 2;
}

.widecard-contentL {
    text-align: start;
}

.widecard-contentR {
    text-align: end;
}

.tags-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.tag {
    margin: 0;
}

#github {
    margin-right: 1em;
}