.main {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-image: linear-gradient(var(--sunsetYellow) 0%, var(--sunsetOrange) 10%,var(--sunsetPink) 25%,var(--sunsetRed) 35%,var(--sunsetMagenta)50%,var(--sunsetPurple) 75%,var(--sunsetBlue) 95%);
    width: 100%;
}