.accentText {
    color: white;
}
.page-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10%;
    padding-right: 10%;
    background-image: linear-gradient(var(--sunsetYellow) 0%, var(--sunsetOrange) 10%,var(--sunsetPink) 25%,var(--sunsetRed) 35%,var(--sunsetMagenta)50%,var(--sunsetPurple) 75%,var(--sunsetBlue) 100%);
}

.header-container {
    margin-left: 1em;
}

h4 {
    font-size: 20px;
}

.sub {
    color: white;
    opacity: 0.75;

}

h4.reg {
    color: white;

}

table {
    border-collapse: collapse;
    text-align: left;
    margin-top: 5em;
}

.tags-container {
    flex-direction: row;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin-top: auto;
}

.tag {
    margin: 0;
    font-size: 14px;
}

.iconbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

#github {
    margin-right: 1em;
}

tr.element:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

th {
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding: 1em;
}

/* Med+Small devices (tablets, phones, 767px and below) */
@media only screen and (max-width: 767px) {
    .tooBig {
        display: none;
    }
}