<nav>
    <div class="home defaultText lighterText">
        <a href="#home">logo</a>
    </div>
    <div class="nav-container">
        <ol class="nav-items defaultText lighterText">
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ol>
    </div>
    <button class="defaultText"> <a
            href="https://docs.google.com/document/d/1SvSyOLMyg0KqV_JLhkjgyMLAknNIrr4r8SxDdoS3cfY/edit?usp=sharing"
            target="_blank">Resume</a> </button>
</nav>