.page-container {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 0;
    width: inherit;
    margin: 0;
}

.defaultText{
    opacity: 0.5;
    font-size: 14px;
    margin: 0;
}

a:hover {
    color: var(--primaryColor)
}

a#link {
    text-decoration: underline transparent;
    transition: text-decoration-color 300ms;
}

a#link:hover {
    text-decoration-color: var(--primaryColor);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .iconlist {
        display: none;
    }
}

/* Med-small devices (tablets, phones, 991px and below) */
@media only screen and (max-width: 992px) {
    .iconlist {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}