.page-container {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 0;
    width: inherit;
    margin: 0;
}

.defaultText{
    opacity: 0.5;
    font-size: 14px;
    margin: 0;
}

a:hover {
    color: var(--primaryColor)
}

a#link {
    text-decoration: underline transparent;
    transition: text-decoration-color 300ms;
}

a#link:hover {
    text-decoration-color: var(--primaryColor);
}