.page-container {
    position: relative;
    overflow: visible;
}
.content {
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

button,button:hover {
    margin-top: 3%;
    font-size: 18px;
    padding: 15px 20px;
}

button:hover {
    color: var(--sunsetBlue);
}

p{
    text-align: center;
    font-size: 18px;
}

h2 {
    text-align: center;
}
.stars-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: visible;
  }
  
  .star {
    position: absolute;
    /* width: 10px;
    height: 10px; */
    /* background-image: url('/assets/star.svg');
    background-size: contain;
    background-repeat: no-repeat; */
  }