/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .img-container {
        margin-left: 5em;
        max-width: 40%;
        max-height: 40%;
        border-radius: 25vw 25vw 0vw 0vw;
    }
    .overlay {
        position: relative;
        width: 26vw;
        height: 40vw;
    }
}

/* Med-small devices (tablets, phones, 991px and below) */
@media only screen and (max-width: 992px) {
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textbox {
        width: fit-content;
    }

    .img-container {
        max-width: 75%;
        max-height: 10%;
        border-radius: 35vw 35vw 0vw 0vw;
    }
    .overlay {
        position: relative;
        width: 46vh;
        height: 70vh;
    }
}

ul {
    columns: 2 auto;
}

.img-container {
    /* justify-content: center; */
    position: relative;
    overflow: hidden;
}



.img-container .overlay img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.img-container .overlay img:last-child {
    transition: 1s;
}
.img-container .overlay:hover img:last-child {
    opacity: 0;
}


.header-container,
.list-container {
    display: flex;
    flex-direction: row;
}

.header-container {
    justify-content: flex-start;
    align-items: center;
}

h3 {
    margin-left: 15px;
    /* white-space: nowrap; */
}

img {
    z-index: 0;
}

.textbox {
    margin-top: 0;
}

ul {
    color: white;
}