<div class="page-container">
    
    <div class="content-container">
        <div class="textbox">
            <div class="header-container">
                <p class="accentH3">01.</p>
                <h3>About Me</h3>
                <div class="divider"></div>
            </div>
            <p class="defaultText darkText" *ngFor="let p of text">
                {{ p }}
            </p>
            <div class="list-container">
                <ul>
                    <ng-container *ngFor="let skill of skills; let i=index">
                        <li *ngIf="i<10">{{skill}}</li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="img-container">
            <div class="overlay"> 
                <img src="{{image}}">
                <img src="{{image2}}">
            </div>
        </div>
    </div>
</div>