/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content-container {
        display: flex;
        flex-direction: row;
    }

    .img-container {
        margin-left: 5em;
        max-width: 40%;
        max-height: 40%;
    }
}

/* Med-small devices (tablets, phones, 991px and below) */
@media only screen and (max-width: 992px) {
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textbox {
        width: fit-content;
    }

    .img-container {
        max-width: 75%;
        max-height: 10%;
    }
}

ul {
    columns: 2 auto;
}

.img-container {
    /* justify-content: center; */
    position: relative;
    overflow: hidden;
}

.overlay {
    position: relative;
}

.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bkgDark);
    opacity: 0.35;
    z-index: 2;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.overlay:hover:before {
    opacity: 0;
}



.header-container,
.list-container {
    display: flex;
    flex-direction: row;
}

.header-container {
    justify-content: flex-start;
    align-items: center;
}

h3 {
    margin-left: 15px;
    white-space: nowrap;
}

img {
    z-index: 0;
}

.textbox {
    margin-top: 0;
}