<div class="page-container">
    <div class="header-container">
        <p class="accentText matchH3">01.</p>
        <h3>About Me</h3>
        <div class="divider"></div>
    </div>
    <div class="content-container">
        <div class="textbox">
            <p class="defaultText" *ngFor="let p of text">
                {{ p }}
            </p>
            <div class="list-container">
                <ul>
                    <ng-container *ngFor="let skill of skills; let i=index">
                        <li *ngIf="i<9">{{skill}}</li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="img-container">
            <div class="overlay"> 
                <img src="assets/myimage.jpg">
            </div>
        </div>
    </div>
</div>