.img-container {
    background-color: var(--bkgMid);
    flex: 1;
    /* justify-content: center; */
    margin-left: 5em;
}

.content-container, .header-container, .list-container{
    display: flex;
    flex-direction: row;
}

.header-container {
    justify-content: flex-start;
    align-items: center;
}

h3 {
    margin-left: 15px;
}

.textbox {
    margin-top: 0;
}