<div class="page-container">
    <div class="header-container">
        <p class="accentText matchH3">01.</p>
        <h3>About Me</h3>
        <div class="divider"></div>
    </div>
    <div class="content-container">
        <div class="textbox">
            <p class="defaultText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Montes nascetur ridiculus mus mauris. Blandit volutpat maecenas volutpat blandit
                aliquam etiam
                erat. Quam pellentesque nec nam aliquam sem et tortor consequat id. Pellentesque elit eget gravida cum
                sociis natoque penatibus.
            </p>
            <p class="defaultText">
                Semper quis lectus nulla at volutpat diam ut. Egestas pretium aenean pharetra magna ac
                placerat vestibulum lectus mauris. Viverra mauris in aliquam sem fringilla ut. Fringilla est ullamcorper
                eget nulla facilisi. Amet nulla facilisi morbi tempus iaculis urna. Interdum velit laoreet id donec
                ultrices
                tincidunt arcu non sodales. Egestas fringilla phasellus faucibus scelerisque eleifend. Vel elit
                scelerisque
                mauris pellentesque pulvinar pellentesque habitant.
            </p>
            <div class="list-container">
                <ul>
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                </ul>
                <ul>
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                </ul>
            </div>
        </div>
        <div class="img-container">
            <p>insert image here</p>
        </div>
    </div>
</div>