.header-container,
.list-container {
    display: flex;
    flex-direction: row;
}

.header-container {
    justify-content: flex-start;
    align-items: center;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .margins {
        margin-right: 10%;
        margin-left: 15%;
    }
}

/* Large+Med devices (laptops/desktops, tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content-container {
        display: flex;
        flex-direction: row;
    }

    .tabcontent {
        margin-left: 10px;
    }
}



/* Small devices (phones, 425px and below) */
@media only screen and (max-width: 425px) {
    .content-container {
        display: flex;
        flex-direction: column;
    }
    
    .tabcontent {
        margin-top: 10px;
    }
}

h3 {
    margin-left: 15px;
    /* white-space: nowrap; */
}

h4 {
    display: inline;
    /* or inline-block */
}

h4.darkText {
    margin-right: 6px;
}

li::marker {
    color: var(--primaryColor);
}