<div class="home-container">
    <p class="accentText">
        Hello World! My name is
    </p>
    <!-- TODO: make name an easier to change variable -->
    <h1 class="name">
        Chalisa "Keaw" Phoomsakha
    </h1>
    <h2>
        I love exploring new things!
    </h2>
    <!-- TODO: make bio text an easier to change variable -->
    <div class="textbox darkText">
        <p class="defaultText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Montes nascetur ridiculus mus mauris. Blandit volutpat maecenas volutpat blandit
            aliquam etiam
            erat. Quam pellentesque nec nam aliquam sem et tortor consequat id. Pellentesque elit eget gravida cum
            sociis natoque penatibus.
        </p>
        <p class="defaultText">
            Semper quis lectus nulla at volutpat diam ut. Egestas pretium aenean pharetra magna ac
            placerat vestibulum lectus mauris. Viverra mauris in aliquam sem fringilla ut. Fringilla est ullamcorper
            eget nulla facilisi. Amet nulla facilisi morbi tempus iaculis urna. Interdum velit laoreet id donec ultrices
            tincidunt arcu non sodales. Egestas fringilla phasellus faucibus scelerisque eleifend. Vel elit scelerisque
            mauris pellentesque pulvinar pellentesque habitant.
        </p>
    </div>
    <button class="defaultText">
        <!-- TODO: make email an easier to change variable -->
        <a href="mailto:chphoom@gmail.com">Contact Me</a>
    </button>
</div>