<div class="page-container">
    <p class="accentText">
        Hello World! My name is
    </p>
    <!-- TODO: make name an easier to change variable -->
    <h1 class="name">
        {{ name }}
    </h1>
    <h2>
        I love exploring new things!
    </h2>
    <!-- TODO: make bio text an easier to change variable -->
    <div class="textbox darkText">
        <p class="defaultText" *ngFor="let p of text">
            {{ p }}
        </p>
    </div>
    <button class="defaultText reg">
        <!-- TODO: make email an easier to change variable -->
        <a href="mailto:{{email}}">Contact Me</a>
    </button>
</div>